---
author: tobias
layout: post
title: "KPhotoAlbum 5.13.0 released"
categories: release-notes
---

<p>
After <a href="{% post_url 2023-07-12-kphotoalbum-5.11.0-released %}">almost a year</a>, we’re very pleased to announce a new release of KPhotoAlbum, the Linux/KDE photo management software!
</p>

<p>
There are two new features/changes:
</p>

<ul>
<li>The “time ago”/birthday/age calculation has been reworked. Timespans should now be displayed in a nicer (more natural) way. Also, the age of people born on February 29 is now calculated correctly.</li>
<li>The ‘--db’ command line argument now rejects any file name that is not either an existing directory or an index.xml file within an existing directory (cf. <a href="https://bugs.kde.org/show_bug.cgi?id=418647">Bug #418647</a>).
</ul>

<p>
Apart from that, quite a number of bugs have been fixed (cf. <a href="https://invent.kde.org/graphics/kphotoalbum/-/blob/v5.13.0/CHANGELOG.md?ref_type=tags#fixed">the ChangeLog</a> for more info):
<a href="https://bugs.kde.org/show_bug.cgi?id=477529">#477529</a>,
<a href="https://bugs.kde.org/show_bug.cgi?id=477530">#477530</a>,
<a href="https://bugs.kde.org/show_bug.cgi?id=477531">#477531</a>,
<a href="https://bugs.kde.org/show_bug.cgi?id=477532">#477532</a>,
<a href="https://bugs.kde.org/show_bug.cgi?id=478944">#478944</a>,
<a href="https://bugs.kde.org/show_bug.cgi?id=479483">#479483</a>,
<a href="https://bugs.kde.org/show_bug.cgi?id=481181">#481181</a>,
<a href="https://bugs.kde.org/show_bug.cgi?id=483266">#483266</a>,
<a href="https://bugs.kde.org/show_bug.cgi?id=444744">#444744</a> and
<a href="https://bugs.kde.org/show_bug.cgi?id=493849">#493849</a>.
And on top some bugs that weren’t reported as a bug in the first place :-)
</p>

<p>
One additional change that should be mostly interesting for the distributors is: The key used for signing the release has been updated. All PGP keys used to sign KDE software releases can be found in the <a href="https://invent.kde.org/sysadmin/release-keyring">sysadmin/release-keyring</a> repo. My currently used key that I used to sign the tarball can also be found there, cf. <a href="https://invent.kde.org/sysadmin/release-keyring/-/blob/master/keys/tleupold@key2.asc?ref_type=heads">tleupold@key2.asc</a>.
</p>

<p>
<b>… and what about Qt 6?!</b>
</p>

<p>
Fear not! Of course, there will be a Qt6/KF6 release of KPhotoAlbum. We currently have a working Qt6/KF6 branch, so most of the porting is already done. Last thing that’s missing is a Qt6/KF6 release of <a href="https://marble.kde.org/">Marble</a>, which we use to display maps for geographic coordinates in photos (preferrably stored there using <a href="https://kgeotag.kde.org/">KGeoTag</a> ;-). It seems like there will be such a release towards the end of the year. We will get KPhotoAlbum ready for Qt6/KF6 shortly afterwards. Stay tuned!
</p>

<p>
According to <code>git log</code>, the following individuals contributed commits since the last release:
</p>

<ul>
<li>Boudhayan Bhattacharya</li>
<li>Oliver Kellogg</li>
<li>Tobias Leupold</li>
<li>Randall Rude</li>
<li>Johannes Zarl-Zierl</li>
</ul>

<p>
Have a lot of fun with KPhotoAlbum 5.13.0 :-)
</p>

<p class="author">— Tobias</p>
