---
layout: page
title: Download
sorted: 3

sources:
  - name: Linux
    icon: /assets/img/tux.png
    description: >
        KPhotoAlbum is included into the majority of Linux distriutions. You can normally install it from graphical software centers and package managers such as Discover or with the command line package manager of your distribution.

  - name: Release Sources
    icon: /assets/img/ark.svg
    description: >
        KPhotoAlbum is released regularily. You can find KPhotoAlbum's latest stable release at <a href="https://download.kde.org/stable/kphotoalbum/">KDE's download server</a>. Older releases are moved to the <a href="https://download.kde.org/Attic/kphotoalbum/">attic</a>.

  - name: Git
    icon: /assets/img/git.svg
    description: >
        KPhotoAlbum's git repository can be viewed on <a href="https://invent.kde.org/graphics/kphotoalbum/">KDE Invent</a>. To clone KPhotoAlbum use <code>git clone https://invent.kde.org/graphics/kphotoalbum.git</code>.
---

<h1>Download</h1>

<table class="distribution-table">
{% for source in page.sources %}
    <tr class="title-row">
        <td rowspan="2" width="100">
            <img src="{{ source.icon }}" alt="{{ source.name }}">
        </td>
        <th>{{ source.name }}</th>
    </tr>
    <tr>
        <td>{{ source.description | replace: 'KPhotoAlbum', site.title | replace: '!SITE_GIT!', site.git}}</td>
    </tr>
{% endfor %}
</table>

<p>
For detailed instructions how to build KPhotoAlbum from source, check out the <a href="https://community.kde.org/KPhotoAlbum/build_instructions">build instructions</a> in the KDE Community Wiki.
</p>

<h1>Release Notes</h1>
<ul>
  {% for post in site.categories.release-notes %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
